@using DemoIdentity.ViewModel;
@model DeleteUserViewModel

<h1>Delete User</h1>
<hr>
<div class="row card form-center max-width-40">
    <div class="col-md-12">
        <form method="POST" asp-action="Delete" asp-controller="User">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" disabled hidden class="form-control mt-3">
            <h2>Do you want to delete user: "@ViewBag.userName"?</h2>
            <div class="form-group mt-3 mb-3">
                <input type="submit" class="btn btn-success" value="Delete">
                <a asp-action="Index" asp-controller="User" class="btn btn-primary" >Cancel</a>
            </div>
        </form>
    </div>
</div>