@using DemoIdentity.ViewModel;
@model CreateRoleViewModel

<h1>Create new Role</h1>
<hr>
<div class="row card form-center max-width-40">
    <div class="col-md-12">
        <form method="POST" asp-action="Create" asp-controller="Role">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control mt-3">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" class="btn btn-success" value="Create new role">
            </div>
        </form>
    </div>
</div>